.navigationbar{
    display: flex;
    justify-content: space-between;
    padding: 19px;
}

.right-side{
    display: flex;
}

.navigationbar > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.link-navbar{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link-navbar a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link-navbar:hover{
    border-bottom: 1px solid black;
}

.link-navbar a:hover{
    color: black;
}

.AccountHead{
    justify-content: space-around;
    padding: 19px;
}

.Defter{

}

.accountbar{
    display: flex;
    justify-content: space-around;
    padding: 38px;
}

.Home1{
    display: flex;
    justify-content: space-around;
    padding: 19px;
}

.HomeDesc2{
    justify-content: center;
    padding: 76px;
}

.HomeImg2{
    justify-content: center;
    padding: 76px;
}

.button { /*Home Button*/
    background-color: orange;
    border: none;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.body { /*Categories Class Begins*/
    margin: 100%;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr;
}


.navigationbar1{
    display: flex;
    justify-content: space-between;
    padding: 19px;
}

.navigationbar1 > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.link-navbar1{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link-navbar1 a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link-navbar1:hover{
    border-bottom: 1px solid black;
}

.link-navbar1 a:hover{
    color: black;
}

/*Grid Setup*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position:relative;
}

.portfolio-img-background{ /*Category Pictures Aligned*/
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /*center or left*/
    align-items: center;
    height: 100%;
    text-align: center; /*center or left*/
    padding-left: 100px;
    padding-right: 100px;
}
.img-text-wrapper:hover .category-title {
    transition: 1s;
    font-weight: 600;
    Color: transparent; /* Color original transparent*/
}
.img-text-wrapper:hover .category-title{ /*Category Titles*/
    font-weight: 600;
    color: darkorange;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

/*Register Changes*/
.accountbar {
    justify-content: space-around;
    padding: 19px;
}

.Account-left-side{
    padding: 152px;
}

.Account-right-side{
    padding: 152px;
}


.btn{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border-color: black;
    float: left;
    position: relative;
}

/*.btn:hover {
    background-color: black;
}*/

.btn-img {
    max-width: 200px;
    max-height: 128px;
}

.btn-txt-header {
    position: relative;
    /*bottom: 15%;*/
    width: 100%;
    left: -20%;
    font-weight: bold;
}

.btn-txt {
    color: orange;
    position: absolute;
    bottom: 7%;
    width: 100%;
    left: -3%;
}

/*Help & AboutUs*/
h2{
    display: flex;
}

p{
    text-align: center;
}

.p a {
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width:25px;
    cursor: pointer;
}

.about-text {
    text-align: center;
}
.about-text h1 {
    color: #020101;
    text-transform: uppercase;
    font-size: 60px;
}

.about-text h1 span {
    color: #fe5900;
}

.span h1 span {
    color: #fe5900;
}


.goalText{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}




